<!DOCTYPE html>
<html>
  <head>
    <title>Tto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<<<<<<< HEAD
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload' %>
=======
   <%= stylesheet_link_tag 'application', media: 'all' %>
>>>>>>> fc144fdc893cc48c67f13799d28b3c5bc308622b
  </head>
  <body>
    <%= yield %>
  </body>
</html>
